.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#6eb478;
  }
  
  .input {
    width: 50%;
    height: 30px;
    margin: 0.5rem;
    border-radius: 15px;
  }
  
  .button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(170, 255, 100);
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .img{
    margin-top: 10px;
    width: 200px;
    border-radius: 120%;
}

.warnig{
   color: red;
}
.social{
    margin-top: 30px;
    display: flex;
  }
  .social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
    cursor: pointer;
  }
  .social .fb{
    background-color: blue;
    margin-left: 25px;
  }
  .social .go{
    background-color:red;
    margin-left: 25px;
  }
  .social i{
    margin-right: 4px;
  
  }